<?xml version="1.0" encoding="utf-8"?>
<settings>
    <setting label="30000" type="bool" id="ActivarFanart" default="true" />
    <setting label="30001" type="bool" id="PosterIMPAwards" default="true" />
    <setting label="30002" type="bool" id="EnableFullCast" default="true" />
    <setting label="30003" type="bool" id="PosterMPDB" default="true" />    
    <setting label="30004" type="bool" id="PosterIndexDVD" default="true" />
</settings>